.Container_Card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.Card{
  width: 330px;
  height: 150px;
  background-color: white;
  padding: 1em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Card p{
  font-size: 17px;
}

.Container_table{
  width: 80%;
  margin: auto;
  margin-top: 1em;
}

.Search{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 5em;
  margin-right: 150px;
}

.form{
  display: flex;
  gap: 10px;
}

.add{
  margin-left: 150px;
}

.username{
  margin-right: 25px;
}


.Container_Header {
  background-color: #D06CCB;
  color: white;
}

.Menu ul {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding: 1.3em;
  gap: 20px;
}

.Menu ul li:first-child {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.Menu ul li {
  cursor: pointer;
}
